@font-face {
    font-family: "Forum";
    src: local("Forum"),
        url(../fonts/Forum-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Inter";
    src: local("Inter"),
        url(../fonts/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
}
